<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <!----===== Boxicons CSS ===== -->
    <link rel="stylesheet" href="/stylesheets/Font/themify-icons-font/themify-icons/themify-icons.css">
    <!--<title>Dashboard Sidebar Menu</title>-->
</head>
<body>

<section class="h-100 gradient-form" style="background-color: #303030;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-4 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="/images/logo.png"
                                         style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">We are E-Commerce Team</h4>
                                </div>

                                <form>

                                    <div data-mdb-input-init class="form-outline mb-3">
                                        <label class="form-label" for="u">Tên đăng nhập</label>
                                        <input type="text" id="u" class="form-control" required/>
                                        <span id="ue" class="fs-6 mt-1 fst-italic text-danger"></span>
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="p">Mật khẩu</label>
                                        <input type="password" id="p" class="form-control" required />
                                        <span id="pe" class="fs-6 mt-1 fst-italic text-danger"></span>
                                    </div>

                                    <div class="d-flex flex-column text-center pt-1 mb-5 pb-1">
                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary py-1 fa-lg gradient-custom-2 mb-3"
                                                type="submit">
                                            Đăng nhập
                                        </button>
                                        <a class="text-muted" href="">Quên mật khẩu?</a>
                                    </div>

<!--                                    <div class="d-flex align-items-center justify-content-center pb-4">-->
<!--                                        <p class="mb-0 me-2">Don't have an account?</p>-->
<!--                                        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger">Create new</button>-->
<!--                                    </div>-->

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">We are more than just a company</h4>
                                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/javascripts/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>
</html>